// Place all the styles related to the chart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/alert-boxes";

.calendar-help {
  color: rgb(43, 166, 203);
  border-bottom: 0;
}

.demo-frame {
  width: 100%;
  height: 200px;
}

.row.header {
  margin-bottom: 30px;
}

#main-chart {
  height: 250px;
  width: 100%;
}

#useful-footer {
  @include alert($bg: $secondary-color);

  margin-top: 50px;
}