<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">jQuery.EpochChart.js </a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li class=""><a href="http://jfeldstein.com/2013/10/how-and-why-i-made-epochcharts-js/">How It Was Made</a></li>
      <li class="divider"></li>
      <li class=""><a href="http://twitter.com/jfeldstein">Contact the Author</a></li>
      <li class="divider"></li>
      <li class="has-form">
        <a href="https://github.com/jfeldstein/jQuery.EpochChart.js" class="button">Download @ GitHub</a>
      </li>
    </ul>
  </section>
</nav>