<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="/">EpochChart</a></h1>
    </li>
  </ul>
  
  <% if params[:action] == 'show' %>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class=""><a href="/">About EpochChart</a></li>
        <li class="divider"></li>
        <li class="has-form">
          <%= link_to "Make Another Chart", new_chart_url(), class: "button success" %>
        </li>
      </ul>
    </section>
  <% else %>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class=""><a href="http://jfeldstein.com/2013/10/how-and-why-i-made-epochcharts-js/">How EpochChart.js Was Made</a></li>
        <li class="divider"></li>
        <li class=""><a href="http://twitter.com/jfeldstein">Contact the Author</a></li>
        <li class="divider"></li>
        <li class="has-form">
          <a href="https://github.com/jfeldstein/jQuery.EpochChart.js" class="button">Download @ GitHub</a>
        </li>
      </ul>
    </section>
  <% end %>
</nav>